<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="synfo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <synfo.My.MySettings>
            <setting name="SVCPROPS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>AcceptStop</string>
                        <string>Caption</string>
                        <string>CheckPoint</string>
                        <string>CreationClassName</string>
                        <string>Description</string>
                        <string>DesktopInteract</string>
                        <string>DisplayName</string>
                        <string>ErrorControl</string>
                        <string>ExitCode</string>
                        <string>InstallDate</string>
                        <string>Name</string>
                        <string>PathName</string>
                        <string>ProcessId</string>
                        <string>ServiceSpecificExitCode</string>
                        <string>ServiceType</string>
                        <string>Started</string>
                        <string>StartMode</string>
                        <string>StartName</string>
                        <string>State</string>
                        <string>Status</string>
                        <string>SystemCreationClassName</string>
                        <string>SystemName</string>
                        <string>TagId</string>
                        <string>WaitHint</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PRDPROPS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>AssignmentType</string>
                        <string>Caption</string>
                        <string>Description</string>
                        <string>IdentifyingNumber</string>
                        <string>InstallDate</string>
                        <string>InstallDate2</string>
                        <string>InstallLocation</string>
                        <string>InstallState</string>
                        <string>HelpLink</string>
                        <string>HelpTelephone</string>
                        <string>InstallSource</string>
                        <string>Language</string>
                        <string>LocalPackage</string>
                        <string>Name</string>
                        <string>PackageCache</string>
                        <string>PackageCode</string>
                        <string>PackageName</string>
                        <string>ProductID</string>
                        <string>PackageName</string>
                        <string>RegOwner</string>
                        <string>RegCompany</string>
                        <string>SKUNumber</string>
                        <string>Transforms</string>
                        <string>URLInfoAbout</string>
                        <string>URLUpdateInfo</string>
                        <string>Vendor</string>
                        <string>WordCount</string>
                        <string>Version</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="QFEPROPS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Caption</string>
                        <string>Description</string>
                        <string>InstallDate</string>
                        <string>Name</string>
                        <string>Status</string>
                        <string>CSName</string>
                        <string>FixComments</string>
                        <string>HotfixID</string>
                        <string>InstalledBy</string>
                        <string>InstalledOn</string>
                        <string>ServicePackInEffect</string>
                    </ArrayOfString>
                </value>
            </setting>
        </synfo.My.MySettings>
    </applicationSettings>
</configuration>
